<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#1').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/background_process',
                function(data) {
              //do nothing
            });
            return false;
          });
          $('a#2').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/background_process',
                function(data) {
              //do nothing
            });
            return false;
          });
          $('a#3').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/background_process',
                function(data) {
              //do nothing
            });
            return false;
          });
          $('a#4').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/background_process',
                function(data) {
              //do nothing
            });
            return false;
          });
          $('a#5').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/background_process',
                function(data) {
              //do nothing
            });
            return false;
          });
          $('a#6').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/background_process',
                function(data) {
              //do nothing
            });
            return false;
          });
          $('a#7').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/background_process',
                function(data) {
              //do nothing
            });
            return false;
          });
          $('a#8').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/background_process',
                function(data) {
              //do nothing
            });
            return false;
          });
          $('a#9').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/background_process',
                function(data) {
              //do nothing
            });
            return false;
          });

        });
</script>

<head>
    <h3>Tic Tac Toe</h3>
    <link rel="stylesheet" href="{{ url_for('static', filename='basic.css') }}">
</head>
<div class='container'>

        <form>
            <a href=# id=1><button class='grid-item'>1</button></a>
        </form>
        <form>
            <a href=# id=2><button class='grid-item'>2</button></a>
        </form>
        <form>
            <a href=# id=3><button class='grid-item'>3</button></a>
        </form>
        <form>
            <a href=# id=4><button class='grid-item'>4</button></a>
        </form>
        <form>
            <a href=# id=5><button class='grid-item'>5</button></a>
        </form>
        <form>
            <a href=# id=6><button class='grid-item'>6</button></a>
        </form>
        <form>
            <a href=# id=7><button class='grid-item'>7</button></a>
        </form>
        <form>
            <a href=# id=8><button class='grid-item'>8</button></a>
        </form>
        <form>
            <a href=# id=9><button class='grid-item'>9</button></a>
        </form>

</div>
